MONGO_URL=CENZURAT

PORT=8000


CORS_ORIGIN=http://localhost:5500

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d


CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_PUBLIC_URL=https://pub-e7c6fea0c7bf46b286fbdb2c822dec3a.r2.dev
CLOUDFLARE_BUCKET_NAME=


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

FORGOT_PASSWORD_REDIRECT_URL=

ADMIN_FORGOT_PASSWORD_REDIRECT_URL=



ADMIN_ACTIVATION_CODE=

ADMIN_SECRET_FORGOT_PASSWORD=

NODE_ENV=production

API_BASE_URL=http://localhost:8000


FRONTEND_URL=http://localhost:5500/Satira_project/frontend


GOOGLE_CLIENT_ID=

RECAPTCHA_SECRET_KEY=