MONGO_URL=CENZURAT

PORT=8000


CORS_ORIGIN=http://localhost:5500

ACCESS_TOKEN_SECRET=CENZURAT
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=CENZURAT
REFRESH_TOKEN_EXPIRY=10d


CLOUDFLARE_ACCOUNT_ID=CENZURAT
CLOUDFLARE_ACCESS_KEY_ID=CENZURAT
CLOUDFLARE_SECRET_ACCESS_KEY=CENZURAT
CLOUDFLARE_PUBLIC_URL=CENZURAT
CLOUDFLARE_BUCKET_NAME=CENZURAT


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=CENZURAT
SMTP_PASS=CENZURAT

FORGOT_PASSWORD_REDIRECT_URL=http://localhost:5500/Satira_project/frontend/pages/user/reset-password.html?token=

ADMIN_FORGOT_PASSWORD_REDIRECT_URL=http://localhost:5500/Satira_project/frontend/pages/admin/reset-password.html



ADMIN_ACTIVATION_CODE=CENZURAT

ADMIN_SECRET_FORGOT_PASSWORD=CENZURAT

NODE_ENV=dev

API_BASE_URL=http://localhost:8000


FRONTEND_URL=http://localhost:5500/Satira_project/frontend


GOOGLE_CLIENT_ID=CENZURAT

RECAPTCHA_SECRET_KEY=CENZURAT