MONGO_URL=

PORT=8000


CORS_ORIGIN=http://localhost:5500

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=10d


CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=75039f4f4614af57d381a549b5
CLOUDFLARE_PUBLIC_URL=
CLOUDFLARE_BUCKET_NAME=satira-bucket


SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

FORGOT_PASSWORD_REDIRECT_URL=http://localhost:5500/Satira_project/frontend/pages/user/reset-password.html?token=

ADMIN_FORGOT_PASSWORD_REDIRECT_URL=http://localhost:5500/Satira_project/frontend/pages/admin/reset-password.html



ADMIN_ACTIVATION_CODE=

ADMIN_SECRET_FORGOT_PASSWORD=

NODE_ENV=dev

API_BASE_URL=http://localhost:8000


FRONTEND_URL=http://localhost:5500/Satira_project/frontend


GOOGLE_CLIENT_ID=5008049955-vdi1hb076r1hfbhl7ohoia0c6umpac51.apps.googleusercontent.com

RECAPTCHA_SECRET_KEY=6Lfc_KIsAAAAAPiE7314pBL8SvrYGgXOSm6Ndrgz